.share-buttons {
  height: 35px;
  vertical-align: middle;

  .share-button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 7px;

    &:first-child {
      margin-left: 0;
    }
  }
}
#application {
  .search-form {
    text-align: center;

    .search-keyword {
      width: 750px;
      height: 60px;
      font-size: 40px;
    }
    button {
      font-size: 40px;
      height: 60px;
    }
  }
  .recent-keywords {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .about {
    h3 {
      text-align: center;
    }
    div {
      font-size: 18px;
    }
  }
  .loading-container {
    text-align: center;
    font-size: 30px;

    i {
      animation-name: spin;
      animation-duration: 1500ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      @keyframes spin {
        from {transform:rotate(0deg);}
        to {transform:rotate(360deg);}
      }
    }
  }
  .result-container {
    h2 {
      i {
        margin-right: 3px;
      }
    }
    .item-list{
      text-align: center;

      .item {
        &.itunes-item {
          .open-itunes {
            margin-left: 5px;
            margin-bottom: 3px;
          }
        }
        width: 300px;
        height: 250px;
        text-align: left;
        font-size: 14px;
        display: inline-block;
        margin: 5px;

        audio {
          width: 100%;
        }
      }
  }
  }
}

footer {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 18px;
}
