doctype html
html(data-env=`${process.env.NODE_ENV || 'development'}`)
  head
    meta(charset="utf-8")
    title=title
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(href="/css/application.css", rel="stylesheet")
    script(src="/js/client.js")
    if process.env.NODE_ENV === 'production'
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
      <script>
      | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      | })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      | ga('create', 'UA-61784281-3', 'auto');
      | ga('send', 'pageview');
      </script>
  body
    .container
      h1 その曲聞けるの見つける君
      .share-buttons
        .share-button
          a(href="https://twitter.com/intent/tweet",id="tweetButton",class="btn btn-default btn-sm")
            i(class="fa fa-twitter")
            |Tweet
        .share-button
          <a href="http://b.hatena.ne.jp/entry/http://music-kikeru-kun.pastak.net/" class="hatena-bookmark-button" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
      #application
    footer Created by
      a(href="https://twitter.com/pastak") @pastak
      |  / repository:
      a(href="https://github.com/pastak/Music_kikeru_kun") pastak/Music_kikeru_kun
